amqp
aniso8601
annotated-types
anyio
APScheduler
asgiref
attrs
beautifulsoup4
billiard
blinker
boto3
botocore
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
contourpy
cron_descriptor
cycler
distlib
Django
django-apscheduler
django-celery-beat
django-celery-results
django-cors-headers
django-environ
django-jazzmin
django-redis
django-storages
django-timezone-field
djangorestframework
dnspython
email-validator
environ
et-xmlfile
fastapi
filelock
Flask
Flask-Cors
Flask-RESTful
Flask-SQLAlchemy
fonttools
greenlet
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
jmespath
joblib
kiwisolver
kombu
logger-setup
MarkupSafe
matplotlib
monday
mysqlclient
numpy
openpyxl
orjson
outcome
packaging
pandas
Pillow
pipenv
platformdirs
prompt-toolkit
pycodestyle
pycparser
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pyparsing
PySocks
python-crontab
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
redis
requests
s3transfer
scikit-learn
scipy
selenium
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
sqlparse
starlette
threadpoolctl
trio
trio-websocket
typing_extensions
tzdata
tzlocal
ujson
urllib3
uvicorn
vine
virtualenv
watchfiles
wcwidth
websockets
Werkzeug
wsproto
xmltodict
